.theme-detail-container .watch {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
}
.theme-detail-container .iconfont.add {
  font-size: 1rem;
  font-weight: bold;
  line-height: 0;
  display: block;
  margin-top: .6rem;
}
.theme-detail-container .top-story {
  width: 100%;
  height: 15rem;
  background-size: 100%;
  background-position: 50% 50%;
}
.theme-detail-container .top-story {
  position: relative;
}
.theme-detail-container .top-story-title {
  position: absolute;
  left: 0;
  bottom: 1rem;
}
.story-list {
  padding-top: .8rem;
  background-color: #f2f2f2;
}
.story-item {
  display: inline-block;
  margin-top: .8rem;
  width: 100%;
}
.story-item a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:.8rem;
    margin-right: .8rem;
    background: #fff;
    padding:.6rem;
    box-shadow: .1rem .2rem .4rem #ddd;
    border-radius: .1rem;
    height: 6rem;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}
.story-img{
    height: 4.8rem;
    width: 4.8rem;
}
.story-title{
    margin-left:.5rem;
    margin-top: .5rem;
    font-weight: normal;
}
.editor-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -.3rem;
    padding-left: .3rem;
    width: 100%;
    height: 60px;
}
.editor-avatar {
    margin-left: .4rem;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}