/*---------- top-story  ----------*/
.top-story-item {
    width: 100%;
    height: 15rem;
    background-size: 100%;
    background-position: 50% 50%;
}
.slick-slide {
    position: relative;
    width: 100%;
    margin-top: 3.4rem;
}
.top-story-mask {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0), rgba(0, 0, 0, 0.7)); /* 标准的语法 */
}
.top-story-title {
    position: absolute;
    bottom: 1.5rem;
    width: 80%;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: #fff;
}
.slick-dots {
    bottom: 1rem;
}
.slick-dots li ,
.slick-dots li button {
    width: 5px;
    height: 5px;
}
.slick-dots li button::before {
    color: #eee;
    opacity: .5;
}
.slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
}
.slick-arrow {
    visibility: hidden;
}
