*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.content-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0,0,0, .7);
}
.content-mask.show {
  display: block;
}
